/* remove all the basic styling */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the background color */

body {
    background-image: linear-gradient(120deg, #de65f6, #85b5fd);
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: darkslategray;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button :hover {
    background: darkslategrey;
    color: white;   
}

/* style container of the list */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex is to have all items jumped next to each other */
/* space-between to make a gap between list content */
.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

/* push stuff to the far right side */
.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: darkmagenta;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Style Button complete after task completion */
.complete-btn {
    background: rgb(61, 201, 61);
}

/* Padding the text from left to right  */
.todo-item {
    padding: 0rem 0.5rem;
}

/* Enabling clicking on the buttons exactly  */
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Add new appearence upon remove */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Remove styling from select tag */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

/* Styling division arround select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* Styling select */
select {
    color: darkslategrey;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    background: white;
}

/* Select arrow back */
.select::after {
    content: "\25BC";
    position: absolute;
    background: darkslategrey;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Add some color effect upon hover with mouse */
.select:hover::after {
    background: white;
    color: darkslategrey;
}


